body  {
  font-family: "Roboto", sans-serif;
  background-color: #e8f6fc;
}

a{
  color: rgb(250, 200, 0, 0.7);
}
p {
  color: #cbeafa;
}
span {
    color: #eaf5fa;
}

.weather-container  {
background: linear-gradient(65.5deg, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  width: 40%;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #eaf7fe;
  padding: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
}

#search-input {
  background-color: #c9e1ed;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  border-radius: 6px;
  padding: 8px;
  height: 50px;
}

#search-input::after {
  background-color: #ebf6f7;
}

#search-button {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fcc800;
  color: rgb(32, 32, 32);
  border-color: #fcc800;
  height: 50px;
}

main {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.conversion-buttons {
  display: flex;
  justify-content: right;
  position: relative;
  top: -10px;
}

#convert-to-celsius,
#convert-to-fahrenheit {
  background-color: transparent;
  border: none;
  color: #eaf5fa;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  transition: font-weight 0.3s;
}

#convert-to-celsius {
  border-right: 1px solid #eaf7fe;
}


#convert-to-celsius:not(:disabled) {
  opacity: 0.5;
}

#convert-to-celsius:disabled {
  font-weight: bold;
  color: #c2fffc;
}

#convert-to-fahrenheit:not(:disabled) {
  opacity: 0.5;
}

#convert-to-fahrenheit:disabled {
  font-weight: bold;
  color: #c2fffc
}

.current-temperature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 48px;
  align-items: center;
  margin-top: 0;

}

.current-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}

.weather-condition,
.current-details {
  color: rgb(235, 245, 250,0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}

.weather-condition strong {
  color: #007bbb;
}

.current-temperature-icon {
  position: relative;
  font-size: 40px;
  margin-right: 10px;
}

.container {
  width: 80%;
  border: #f1faff solid 0.5px;
  background-color: #fbfeff;
  margin: 5px;
  padding: 10px 0;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}

.weather-forecast {
  margin: 50px 0;
  display: flex;
  padding: 20px 20px;
  flex-direction: row;
  justify-content: space-between;

}

.weather-icon img {
  padding: 10px;
  width: 80px;
}

.weather-forecast-temperature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 20%;
}

.weather-forecast-temperature-max,
.weather-forecast-temperature-min {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  font-size: 16px;
  opacity: 0.5;
}

footer {
  border-top: 1px solid #eaf7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}